<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lenovo.mytestcode">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".application.MyTestCodeApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerViewActivity">
        </activity>
        <activity android:name=".activity.TabLayoutTestActivity">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CollapsingToolbarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
            <!-- <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->
            <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
            <!-- <data android:scheme="package" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <activity android:name=".activity.AlarmManagerActivity">
        </activity>

        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="alarm_short"/>
                <action android:name="alarm_repeating"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.MyTestService">
        </service>

        <activity
            android:name=".activity.ShareElementFor4xActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ShareElementFor4xSecondActivity"
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name=".activity.ShareElementFor4xViewPagerActivity"
            android:theme="@style/Transparent">
        </activity>
        <activity android:name=".activity.SceneCustomActivity">
        </activity>
        <activity
            android:name=".activity.ClipViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.BlurActivity">
        </activity>
        <activity android:name=".activity.GroupRecyclerViewActivity">
        </activity>
        <activity android:name=".activity.CustomTabViewActivity">
        </activity>
        <activity
            android:name=".activity.SlideMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.TestDBActivity">
        </activity>
        <activity android:name=".activity.RandomNumActivity">
        </activity>
        <activity android:name=".activity.SlideViewPagerActivity">
        </activity>
        <activity android:name=".activity.PaletteImageViewActivity">
        </activity>
        <activity android:name=".activity.DownloadManagerActivity">
        </activity>
        <activity android:name=".activity.RxJavaTestActivity">
        </activity>
        <activity android:name=".activity.Main2Activity">
        </activity>
        <activity android:name=".activity.WaveViewActivity">
        </activity>
        <activity
            android:name=".activity.PieLayoutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.CardSliderActivity">
        </activity>
        <activity android:name=".activity.ZXingActivity">
        </activity>
        <activity android:name=".activity.CustomViewActivity">
        </activity>
        <activity android:name=".activity.CusImageActivity">
        </activity>
        <activity
            android:name=".activity.CardViewPagerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.TestAnnotationActivity">
        </activity>
    </application>

</manifest>